<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/twomartenscore/css/*' filter='cssrewrite' output='css/compiled/bootstrap.css' %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body {% block bodyClass %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
